!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title= content_for?(:title) ? yield(:title) : "Powerlapse"
    = csrf_meta_tags
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      = javascript_include_tag "http://html5shim.googlecode.com/svn/trunk/html5.js"
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag :application
    %link(href="images/apple-touch-icon-144x144.png" rel="apple-touch-icon-precomposed" sizes="144x144")
    %link(href="images/apple-touch-icon-114x114.png" rel="apple-touch-icon-precomposed" sizes="114x114")
    %link(href="images/apple-touch-icon-72x72.png" rel="apple-touch-icon-precomposed" sizes="72x72")
    %link(href="images/apple-touch-icon.png" rel="apple-touch-icon-precomposed")
    %link(href="images/favicon.ico" rel="shortcut icon")


  %body
    .navbar.navbar-fluid-top
      .navbar-inner
        .container-fluid
          %a.btn.btn-navbar(data-target=".nav-collapse" data-toggle="collapse")
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.brand(href="#{root_url}") PowerLapse
          .container.nav-collapse
            %ul.nav

    .container-fluid

      .row-fluid
        .span3
          .well.sidebar-nav
            %ul.nav.nav-list
              %li.nav-header Key
              %li #{image_tag('MapDot_Pink.jpeg')} 1-15
              %li #{image_tag('MapDot_Purple.jpeg')} 16-30
              %li #{image_tag('MapDot_Blue.jpeg')} 31-50
              %li #{image_tag('MapDot_Green.jpeg')} 51-250
              %li #{image_tag('MapDot_Yellow.jpeg')} 251-1,000
              %li #{image_tag('MapDot_Orange.jpeg')} 1,001-2,500
              %li #{image_tag('MapDot_Red.jpeg')} 2,500-10,000

            %h4 What am I looking at?
            %p This is a collection of BGE power outage maps over the course of hurricane Sandy. The key above indicates the size of each outage plotted on the map.

            %h4 How does it work?
            %p With the slider in the rightmost position you're looking at the most recent BGE outage map. Drag the slider to the left to see outage maps from earlier.

            %h4 Are you affiliated with BGE?
            %p Nope.

            %h4 Who are you?
            %ul
              %li= link_to 'Ed Schmalzle', 'http://www.edschmalzle.com'
              %li= link_to '@nerded', 'http://twitter.com/nerded'
              %li= link_to 'Back Forty', 'http://www.inthebackforty.com'
        .span9
          = yield
    
      %footer
        %p &copy; Ed Schmalzle 2012
    /
      Javascripts
      \==================================================
    / Placed at the end of the document so the pages load faster
    = javascript_include_tag "application"
